
@page "/xtc/analytics/generator"

<Space Direction="DirectionVHType.Vertical">
    <SpaceItem>
        <Button Type="@ButtonType.Primary" OnClick="@__debugClick">Call</Button>
    </SpaceItem>

    <SpaceItem>
        <Text>Record:</Text>
        <TextArea @bind-Value="@__debugRecord" Rows="4" ReadOnly="true" />
    </SpaceItem>

</Space>
@code {
}
